   
    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>My name is Karen and that is what I've learned on Ruby on Rails's Codecademy curse.</h1>
          <button class="btn-default" href="#">View my work</button>
          

        </div>
      </div>
    </div>



