<title>Portfolio</title>

    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="main">
  <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://i.imgur.com/X16mRKD.jpg">
                <div class="card-body">
                  <p class="card-text">This was a Freeform project on the third lesson of RoR's curse.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://imgur.com/BU23WvS.jpg">
                <div class="card-body">
                  <p class="card-text">The Bolt-Network project was made according to teach Associatons many-to-many relations.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="https://i.imgur.com/VPJZICl.jpg">
                <div class="card-body">
                  <p class="card-text">This was the first Freeform project that I've done. Broadway is a static page.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                 </div>
                </div>
              </div>
            </div>
<h1></h1>    
</div>



